<li class="list-group-item">
  <% unless plot.scenes == [] %>
    <%= link_to plot.title, plot_path(plot), class: "btn-xs btn-primary" %>
  <% else %>
    <%= link_to plot.title, new_plot_scene_path(plot), class: "btn btn-default" %>
  <% end %>
  <small>
    <% if plot.aplot == true %>
    : Plot A
    <% elsif plot.bplot == true %>
    : Plot B
    <% end %>
  </small>
</li>
