<div class="row">
  <div>
    <%= scene.start_time + "--" + scene.end_time %>
    <a class="fancybox fancybox.iframe" href=<%= scene.clip %>>Video<%= scene.id %></a>
    <%= link_to "edit", edit_scene_path(scene) %>
  </div>
</div>
