<div class="row">
  <div class="col-md-12">
  <%= link_to "Back to All Episodes", episodes_path, class: "btn btn-danger"%>
</div>
</div>
<div class="row">
    <div class="col-md-12">
  <div class="panel panel-default col-md-6">
    <%= render @user.episodes %>
  </div>
  </div>
</div>
